@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /* References:
        https://colorhunt.co/palettes/popular
     */

    --bg-color-white-n0: #FFFFFF;
    --bg-color-white-n2: #FCFCFC;
    --bg-color-white-n1: #F9F9F9;
    --bg-color-white-n3: #F6F6F6;
    --bg-color-white-n4: #F3F3F3;
    --bg-color-white-n5: #F0F0F0;

    --bg-color-black-n0: #000000;
    --bg-color-black-n1: #0e1111;
    --bg-color-black-n2: #232b2b;
    --bg-color-black-n3: #353839;
    --bg-color-black-n4: #3b444b;
    --bg-color-black-n5: #414a4c;

    --btn-blue-n1: rgb(10, 38, 71);
    --btn-blue-n2: rgb(20, 66, 114);
    --btn-blue-n3: rgb(32, 82, 149);
    --btn-blue-n4: rgb(44, 116, 179);

    --btn-font: var(--bg-color-white-n0);

    --font-n1: var(--bg-color-black-n1);
    --font-n2: var(--bg-color-black-n3);
    --font-n3: var(--bg-color-black-n5);
}

/* https://www.transparenttextures.com */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/patterns/absurdity.png"), linear-gradient(var(--btn-blue-n4), var(--bg-color-white-n0)); 
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    height: auto;
    margin: 32px;
    padding-top: 64px;
}

#avatar {
    z-index: 1;
}

#infos {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-white-n1);
    border-radius: 15px;
    padding: 32px;
    gap: 28px;
    translate: 0 -45px;
    max-width: 600px;
}

#avatar > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 10px var(--bg-color-white-n1);
}

h2 {
    color: var(--font-n1);
    font-size: 2em;
    margin-bottom: 8px;
}

p.location {
    color: var(--font-n3);
    opacity: .75;
    margin-bottom: 18px;
    font-size: 16px;
}

p {
    color: var(--font-n2);
}

#networks ul {
    display: grid;
    grid-column: 5;
    grid-template-columns: min-content min-content min-content min-content min-content;
    column-gap: 18px;
}

li::marker {
    content: ""
}

#networks ul li a i {
    color: var(--bg-color-black-n5);
    font-size: 1.5em;
    opacity: .75;
}

#networks ul li a i:hover {
    color: var(--btn-blue-n4);
    text-decoration: none;
    transition: .3s;
    opacity: 1;
}