{% load static %}

<html>
    <head>
        <!-- Bootstrap required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <script src="https://kit.fontawesome.com/ad69d24e07.js" crossorigin="anonymous"></script>
        
        <title>{% block title %}thiago-tjas{% endblock %}</title>

        {% comment %} <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    </head>

    <body>
        <header>
            {% include 'navbar.html' %}
        </header>

        <main> 
            {% block content %}
                {% include 'home.html' %}
            {% endblock %}
        </main>
        
        {% comment %} <script type="text/javascript" src="{% static 'js/tooltips.js' %}"></script> {% endcomment %}
    </body>
</html>