<nav class="navbar">
    <h1 class="navbar-logo">
        {% comment %} <img class="navbar-logo-icon" src="{% static 'img/logo.png' %}" /> {% endcomment %}
        {% comment %} <img class="navbar-logo-text" src="{% static 'img/logo-text.png' %}" /> {% endcomment %}
        <span class="navbar-logo-text"></span>
    </h1>
    <nav class="navbar-menu">
        <button class="btn-opt"> </button>
        {% comment %} <button class="btn-opt">Technologies</button>
        <button class="btn-opt">Portfolio</button>
        <button class="btn-opt">Career</button>
        <button class="btn-opt">Contact</button> {% endcomment %}
        <button type="button" class="btn-opt">
        <div class="localization">
            EN
            <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
        </div>
        </button>
    </nav>
</nav>