{% load static %}

<nav id="navbar" class="navbar glass bg-dark bg-primary-0">
    <h1 class="logo">
        {% comment %} <img class="navbar-logo-icon" src="{% static 'img/logo.png' %}" /> {% endcomment %}
        {% comment %} <img class="navbar-logo-text" src="{% static 'img/logo-text.png' %}" /> {% endcomment %}
        <span>TJAS | Website</span>
    </h1>
    <img
        id="menu-icon"
        class="menu-icon"
        src="{% static 'img/svg/burger-menu.svg' %}"
        title='Toggle Menu'
        alt='Toggle Menu'
        onclick="toggleMenu(this)"
    >
    <ul id="menu" class="menu">

        <li><a id="menu-about" href="#about" class="opt active">About</a></li>
        <li><a id="menu-technologies" href="#technologies" class="opt">Technologies</a></li>
        <li><a id="menu-career" href="#career" class="opt">Career</a></li>
        <li><a id="menu-portfolio" href="#portfolio" class="opt">Portfolio</a></li>
        <li><a id="menu-contact" href="#contact" class="opt">Contact</a></li>

        {% comment %} <li>
            <button class="btn btn-primary-4">
                <a href="">Login</a>
            </button>
        </li> {% endcomment %}

        <li id="localization" class="localization">
            <a id="lang" href="#" onclick="event.preventDefault()" class="lang">EN
                {% comment %} <div class="lang">EN {% endcomment %}
                    {% comment %} <span class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </span> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </a>
        </li>

        {% comment %} <li class="localization dropdown"> {% endcomment %}
            {% comment %} <button id="lang" class="btn-dropdown lang" onclick="myDropdownFunction()">EN</button> {% endcomment %}
            {% comment %} <a id="lang" class="btn-dropdown lang">EN</a> {% endcomment %}
            {% comment %} <div class="dropdown-content" id="language-dropdown">
                <a href="#">English</a>
                <a href="#">Portuguese</a>
            </div> {% endcomment %}
        {% comment %} </li>  {% endcomment %}
    </ul>
    {% comment %} <div id="language-dropdown" class="dropdown-content">
        <ul class="languages">
            <li><a class="opt-lang active" href="#" value="EN">English</a></li>
            <li><a class="opt-lang" href="#" value="PT">Portuguese</a></li>
        </ul>
    </div>  {% endcomment %}

    <div id="internationalization" class="internationalization">
        <div class="go-back">
            <img
                src="{% static 'img/svg/send.svg' %}"
                title='Back'
                alt='Back'
                onclick="toggleInternationalization(this)"
            >
            {% comment %} <button
                title='Back'
                alt='Back'
                onclick="toggleInternationalization(this)"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler" width="41" height="22" viewBox="0 0 41 22"  stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M40.002 11.001H0.501953M40.002 11.001L30.002 1.00098M40.002 11.001L30.002 21.001" stroke="white"></path>
                </svg> {% endcomment %}
            </button>
        </div>

        <h2>Language</h2>
        <ul id="languages" class="languages">
            <li><a class="opt-lang active" href="#" value="EN">English</a></li>
            <li><a class="opt-lang" href="#" value="PT">Portuguese</a></li>
        </ul>
    </div>

</nav>